:host {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  flex-wrap: none;
  align-content: center;
  align-items: center;
  justify-content: center;
}

:host > .login-screen {
  padding: 100px 20px 20px 20px;

  min-width: 300px;
  min-height: 300px;

  max-width: 500px;
  max-height: 500px;

  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);

  text-align: center;

  background-color: rgb(255, 255, 255);
}