<div class="login-screen">
  <div *ngIf="login.checking">
    Checking user credentails
  </div>
  
  <div *ngIf="!login.checking && !login.user">
    <p>Please, log in into the application</p>
    <button (click)="startGoogleLogin()">
      Log in
    </button>
  </div>

  <div *ngIf="!login.checking && login.user">
    <img class="avatar" [src]="login.user.photoURL" [alt]="login.user.displayName" />
    <p>You are logged in as {{login.user.displayName}}</p>
    <button (click)="logout()">
      Log out
    </button>
  </div>

  <div *ngIf="!login.checking && login.failReason">
    <h1>Failed to login</h1>
    <p>{{login.failReason}}</p>
  </div>
</div>