<md-card [ngSwitch]="state">
  <ng-container *ngSwitchCase="'checking'">
    <md-card-title>
      Checking user credentails</md-card-title>
    <md-card-content>
      <md-spinner>
      </md-spinner>
    </md-card-content>
  </ng-container>

  <ng-container *ngSwitchCase="'logged-in'">
    <md-card-title>
      Signed in
    </md-card-title>
    <md-card-subtitle>
      You are currently signed in the application as <strong color="primary">{{login.user.displayName}}</strong>
    </md-card-subtitle>
    <md-card-content>
      <img class="avatar" [src]="login.user.photoURL" [alt]="login.user.displayName" />
    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="primary" (click)="logout()">
        Sign out
      </button>
    </md-card-actions>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <md-card-title>
      Signed off
    </md-card-title>
    <md-card-subtitle>
      You are currently signed off the application
    </md-card-subtitle>
    <md-card-actions>
      <button md-raised-button color="primary" (click)="startGoogleLogin()">
        Sign in
      </button>
    </md-card-actions>
  </ng-container>
</md-card>